@import "../style.css";

.cell {
  font-family: "Lucida Console", Monaco, monospace;
  width: 1ch;
  min-width: 1ch;
  height: 2ch;
  min-height: 1ch;

  color: var(--box-characters);

  background-color: var(--cell-background);
  border-left: 1px solid var(--main-background);

  display: inline-block;

  vertical-align: middle;

  white-space: pre;
}

.table {
  width: 750px;
  cursor: default;
}